# What contributes to lung cancer deaths and what can we do?

In [259]:
import pandas as pd
import os

base_file_path = os.path.join("data_csv/", "lung cancer death rates by country by year.csv")
base_df = pd.read_csv(base_file_path)

other_files = [f for f in os.listdir("data_csv/") if f.endswith('.csv') and f != "lung cancer death rates by country by year.csv"]

merged_df = base_df.copy()
for file in other_files:
    file_path = os.path.join("data_csv/", file)
    df = pd.read_csv(file_path)
    df = df.drop(columns=['Entity'], errors='ignore')

    merged_df = merged_df.merge(df, on=['Code', 'Year'], how='left')

merged_df.to_csv('merged_data.csv', index=False)

In [261]:
merged_df.shape

(2116, 13)

In [263]:
merged_df.head(10)

,Entity,Code,Year,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population,Proportion of population with primary reliance on clean fuels and technologies for cooking (%) - Residence area type: Total,Life expectancy - Type: period - Sex: both - Age: 0,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)","GDP per capita, PPP (constant 2017 international $)",public_health_expenditure_pc_gdp,Prevalence of current tobacco use (% of adults)
0,Albania,ALB,2003,651,3.623713,22.266104,20.981293,46.5,76.1421,NaN,7154.0303,NaN,NaN
1,Albania,ALB,2004,605,3.408835,19.885788,19.345990,49.2,76.3761,NaN,7580.1650,NaN,NaN
2,Albania,ALB,2000,593,3.613430,23.079543,19.043031,38.7,75.4043,24.302870,5892.6110,NaN,35.0
3,Albania,ALB,2006,567,3.348096,17.373549,18.947046,54.8,76.8162,NaN,8568.5920,NaN,NaN
4,Albania,ALB,2002,597,3.674298,21.000429,19.357035,43.8,75.8899,NaN,6753.9140,NaN,NaN
5,Albania,ALB,2001,510,3.367893,18.061525,16.616302,41.0,75.6388,NaN,6441.4720,NaN,NaN
6,Albania,ALB,2005,543,3.115855,17.119361,18.030941,52.0,76.6208,22.169489,8040.1206,NaN,31.3
7,Albania,ALB,2007,515,3.544879,15.267667,17.339945,57.8,77.5491,NaN,9150.1610,NaN,NaN
8,Albania,ALB,2008,617,3.822090,17.813910,20.934272,60.7,77.6529,NaN,9912.1970,NaN,NaN
9,Albania,ALB,2010,352,2.899745,9.558446,12.083642,65.8,77.9359,21.631449,10749.5190,2.442,28.0

In [265]:
merged_df.columns

Index(['Entity', 'Code', 'Year', 'Number',
       'Percentage of cause-specific deaths out of total deaths',
       'Age-standardized death rate per 100 000 standard population',
       'Death rate per 100 000 population',
       'Proportion of population with primary reliance on clean fuels and technologies for cooking (%) - Residence area type: Total',
       'Life expectancy - Type: period - Sex: both - Age: 0',
       'PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)',
       'GDP per capita, PPP (constant 2017 international $)',
       'public_health_expenditure_pc_gdp',
       'Prevalence of current tobacco use (% of adults)'],
      dtype='object')

In [267]:
unique_countries = merged_df['Entity'].nunique()
unique_countries

118

There are so many countries and they vary a lot. Which countries should we focus? Let's see in most recent year which countries have the highest death rate caused by lung cancer?

In [289]:
countries_per_year = merged_df.groupby('Year')['Entity'].nunique().sort_index(ascending=False)
countries_per_year

Year
2022     15
2021     52
2020     67
2019     84
2018     85
2017     90
2016     99
2015     97
2014    102
2013    100
2012    101
2011    103
2010    105
2009    106
2008    102
2007    102
2006    100
2005    100
2004    101
2003    102
2002    102
2001    103
2000     98
Name: Entity, dtype: int64

The most recent data we have is for 2022, but it seems year 2021 has more data, let's go with 2021.

In [297]:
data_2021 = merged_df[merged_df['Year'] == 2021].sort_values(
    by='Age-standardized death rate per 100 000 standard population', 
    ascending=False
)
data_2021.head(20)

,Entity,Code,Year,Number,Percentage of cause-specific deaths out of total deaths,Age-standardized death rate per 100 000 standard population,Death rate per 100 000 population,Proportion of population with primary reliance on clean fuels and technologies for cooking (%) - Residence area type: Total,Life expectancy - Type: period - Sex: both - Age: 0,"PM2.5 air pollution, mean annual exposure (micrograms per cubic meter)","GDP per capita, PPP (constant 2017 international $)",public_health_expenditure_pc_gdp,Prevalence of current tobacco use (% of adults)
2110,Hungary,HUN,2021,7867,5.055230,39.671053,81.657319,100.00,74.5301,NaN,33583.785,5.303,NaN
1964,Serbia,SRB,2021,4615,3.377933,32.056748,67.526776,80.60,74.1923,NaN,19860.310,NaN,NaN
2066,Croatia,HRV,2021,2814,4.487179,31.338165,72.544826,100.00,77.5804,NaN,32060.504,NaN,NaN
2096,Poland,POL,2021,20866,4.016423,27.390068,55.292903,100.00,76.4572,NaN,34944.040,4.785,NaN
1507,Armenia,ARM,2021,1181,3.434338,26.871787,39.789403,98.40,72.0431,NaN,14206.545,NaN,NaN
2090,Netherlands,NLD,2021,10095,5.904476,26.082480,57.558622,100.00,81.6873,NaN,57334.703,NaN,NaN
2056,Cuba,CUB,2021,5341,3.185329,24.925114,47.192380,94.30,73.6829,NaN,NaN,NaN,NaN
2061,Denmark,DNK,2021,3381,6.366512,24.740602,57.794131,100.00,81.3753,NaN,58802.960,9.264,NaN
2047,Bosnia and Herzegovina,BIH,2021,1665,3.310797,24.734528,48.221887,41.65,75.3003,NaN,15893.156,NaN,NaN
2054,Canada,CAN,2021,19578,6.282249,23.613909,51.429153,100.00,82.6565,NaN,48356.332,8.695,NaN
1790,Latvia,LVA,2021,931,2.719757,23.172361,49.403287,100.00,73.5786,NaN,31833.842,NaN,NaN
2046,Bulgaria,BGR,2021,3244,2.177254,22.774902,47.166639,NaN,71.7980,NaN,24386.180,NaN,NaN
1818,North Macedonia,MKD,2021,781,2.738813,22.687785,42.521613,79.20,73.8415,NaN,16708.598,NaN,NaN
1635,Spain,ESP,2021,22438,4.977992,21.995425,47.406259,100.00,83.0100,NaN,38319.290,NaN,NaN
1519,Austria,AUT,2021,4073,4.429003,21.289975,45.500652,100.00,81.5797,NaN,53817.305,9.555,NaN
2102,United States of America,USA,2021,134592,3.885191,20.976992,40.428329,100.00,77.1982,NaN,63635.824,NaN,NaN
1592,Czechia,CZE,2021,4898,3.501297,20.964479,46.643843,100.00,77.7283,NaN,40744.457,NaN,NaN
1641,Estonia,EST,2021,603,3.281633,20.864587,45.503081,100.00,77.1436,NaN,38717.695,5.860,NaN
1825,Mongolia,MNG,2021,451,2.262807,20.547487,13.738360,53.00,70.9754,NaN,11668.431,NaN,NaN
2073,Iceland,ISL,2021,128,5.486498,19.598105,34.360571,100.00,82.6782,NaN,53135.953,8.060,NaN

因为不是所有的参数在每一年都有数据，所以这里看2021年的有些column是空的...

或许可以pick几个国家比如Hungary，Serbia，Cuba，USA，Iceland...用他们各自全部的数据分别画pair plot看是否有相关性?

e.g.  USA: 
 - Age-standardized death rate vs PM2.5 air pollution
 - Age-standardized death rate vs Prevalence of current tobacco use
 - Age-standardized death rate vs public_health_expenditure
 - ...

In [302]:
# 直接看表的话2000,2005,2010,2015,2018,2019年的数据比较完整